* {
}

window {
    background-color: transparent;
}

window#waybar.solo {
}

.modules-center {
    background-color: black;
    padding: 0 1em 0 1em;
    border-radius: 12px;
}

#workspaces {
    background-color: black;
    margin-right: 1em;
    border-radius: 12px;
}

#workspaces button {
}

#workspaces button.visible {
    background-color: gray;
    border-radius: 12px;
    color: white;
    font-size: 1.5em;
}

#workspaces button.focused {
}

#workspaces button.urgent {
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail, #disk, #temperature {
    background-color: black;
}

#temperature {
    padding-right: 1em;
    border-radius: 0px 12px 12px 0px;
}

#idle_inhibitor {
    padding-left: 1em;
    padding-right: 0.75em;
    border-radius: 12px 0px 0px 12px;
}

#pulseaudio {
    padding: 0 1em 0 1em;
    border-radius: 12px;
}

#clock {
    background-color: black;
    margin-left: 1em;
    padding: 0 1em 0 1em;
    border-radius: 12px;
}

#network {
    margin: 0 1em 0 1em;
    padding: 0 1.5em 0 1em;
    border-radius: 12px;
}

#backlight {
    padding: 0 0.5em 0 1em;
    border-radius: 12px 0px 0px 12px;
}

#battery {
    margin: 0 0 0 0em;
    padding: 0 1.5em 0 0em;
    border-radius: 0px 12px 12px 0px;
}

#battery.warning {
    color: yellow;
}

#battery.critical {
    color: red;
}

#battery.charging {
    color: green;
}

#custom-storage.warning {
}

#custom-storage.critical {
}
