* {
    font-family: monospace;
    border: none;
    border-radius: 0;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: black;
    color: darkseagreen;
}

window#waybar .modules-center {
    background-color: black;
    color: darksalmon;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    margin-right: 20px;
    border-bottom: 2px solid dimgrey;
}

#clock {
    color: darksalmon;
}

#pulseaudio {
    color: darksalmon;
}

#idle_inhibitor {
    margin-left: 16px;
    color: gray;
}

#idle_inhibitor.activated {
    margin-left: 16px;
    color: darkorange;
}

#workspaces button {
    background-color: black;
    color: darksalmon;
}

#workspaces button.active {
    background-color: darkseagreen;
    border-radius: 8px;
    color: black;
}
