* {
    font-family: terminus, sans-serif;
    font-size: 14px;
}

#waybar {
  background-color: black;
  opacity: 1.0;
  color: white;
  border-bottom: 1px solid #555;
}

button {
}

#window {
  color: #ADFC92;
}

#workspaces {
}

#workspaces button {
  color: white;
  border: 1px solid #555;
  background-color: #223;
  margin: 4px 4px 4px 4px;
  padding: 0px 8px 0 8px;
}

#workspaces button.focused {
  background-color: #000;
  color: #9BF3F0;
  border: 1px solid #9BF3F0;
}

#workspaces button.urgent {
  background-color: black;
  color: red;
}

#workspaces button.active {
  background-color: black;
  color: green;
}

#clock,
#battery,
#cpu,
#memory,
#pulseaudio,
#tray,
#mode,
#backlight,
#disk {
  border: 1px solid #555;
  background-color: #113;
  margin: 4px 4px 4px 4px;
  padding: 0px 16px 0 16px;
}

#clock {
  border-bottom: 2px solid #9BF3F0;
  color: #9BF3F0;
}
#battery {
  border-bottom: 2px solid #55868C;
  color: white;
}
#disk {
  border-bottom: 2px solid #F7FFF7;
  color: #F7FFF7;
}
#pulseaudio {
  border-bottom: 2px solid #ADFC92;
  color: #ADFC92;
}
#backlight {
  border-bottom: 2px solid #FF6B6B;
  color: #FF6B6B;
}
#memory {
  border-bottom: 2px solid #EEC584;
  color: #EEC584;
}
#cpu {
  border-bottom: 2px solid #CACAAA;
  color: #CACAAA;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    border-radius: 16px;
}

#idle_inhibitor.activated {
    background-color: #285577;
    border-radius: 16px;
}

.custom-spotify {
    padding: 0 10px;
    margin: 0 4px;
    background-color: #1DB954;
    color: black;
}
